@font-face {
    font-family: "나눔스퀘어 네오 OTF Light";
    src: url("NanumSquareNeoOTF-aLt.otf");
}
@font-face {
    font-family: "나눔스퀘어 네오 OTF Regular";
    src: url(NanumSquareNeoOTF-aLt.otf");
}
@font-face {
    font-family: "나눔스퀘어 네오 OTF ExtraBold";
    src: url("NanumSquareNeoOTF-aLt.otf");
}
@font-face {
    font-family: "나눔스퀘어 네오 OTF Bold";
    src: url("NanumSquareNeoOTF-aLt.otf");
}
@font-face {
    font-family: "나눔스퀘어 네오 OTF Heavy";
    src: url("NanumSquareNeoOTF-aLt.otf");
}